# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.venv/
env/

# Environment
.env

# Data & Models
data/faiss_index/
*.faiss
*.pkl

# MLflow
mlruns/

# Results
results/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
